<div id="userEditingPanel" class="user-form-panel offcanvas offcanvas-end" tabindex="-1"
     aria-labelledby="offcanvasEndLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title">Редактирование кафедры</h2>
        <button id="jsEditingPanelCloser" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form action="#" name="user-edit">
            <div class="d-flex mb-4">
                <button type="submit" class="btn btn-primary ms-auto">Сохранить</button>
            </div>
        </form>
    </div>
</div>
