<div id="managingDepartmentsModal" class="modal modal-blur fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <form class="dual-controls-form modal-content" action="#" name="departments-control">
            <div class="modal-header">
                <h5 class="modal-title">Управление подразделениями test if here</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dual-controls-wrap mb-4">
                    <div class="dual-controls-label mb-3"><b>Выберите подразделение</b></div>
                    <div class="dual-controls-box">
                       <div class="dual-listbox">
                           <div class="dual-listbox__container">
                               <select class="dual-controls-select dual-listbox__available" name="departments[]" multiple>
                                   <option class="dual-listbox__item" value="dep-1">Подразделение 1</option>
                                   <option class="dual-listbox__item" value="dep-2">Подразделение 2</option>
                                   <option class="dual-listbox__item" value="dep-3">Подразделение 3</option>
                                   <option class="dual-listbox__item" value="dep-4">Подразделение 4</option>
                                   <option class="dual-listbox__item" value="dep-5">Подразделение 5</option>
                                   <option class="dual-listbox__item" value="dep-6">Подразделение 6</option>
                                   <option class="dual-listbox__item" value="dep-7">Подразделение 7</option>
                                   <option class="dual-listbox__item" value="dep-8">Подразделение 8</option>
                                   <option class="dual-listbox__item" value="dep-9">Подразделение 9</option>
                                   <option class="dual-listbox__item" value="dep-10">Подразделение 10</option>
                               </select>

                           <div class="dual-listbox__buttons">
                               <button type="button" name="add_one" class="dual-listbox__button">&gt;&gt;</button>
                               <button type="button" name="add_all" class="dual-listbox__button">&gt;</button>
                               <button type="button" name="remove_one" class="dual-listbox__button">&lt;</button>
                               <button type="button" name="remove_all" class="dual-listbox__button">&lt;&lt;</button>
                           </div>
                           <div class="dual-listbox__selected">
                           </div>
                       </div>
                       </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="form-label col-4 col-form-label">Основное подразделение</label>
                    <div class="col">
                        <select class="form-select" name="main-department">
                            <option value="main-dep-0" disabled selected>Выберите основное подразделение</option>
                            <option value="main-dep-1">Основное подразделение 1</option>
                            <option value="main-dep-2">Основное подразделение 2</option>
                            <option value="main-dep-3">Основное подразделение 3</option>
                            <option value="main-dep-4">Основное подразделение 4</option>
                            <option value="main-dep-5">Основное подразделение 5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить изменения</button>
            </div>
            <input type="hidden" id="department-hidden" name="department-hidden" value="">
        </form>
    </div>
</div>
