<div id="managingRolesModal" class="modal modal-blur fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <form class="dual-controls-form modal-content" action="#" name="departments-control">
            <div class="modal-header">
                <h5 class="modal-title">Управление ролями</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dual-controls-wrap mb-4">
                    <div class="dual-controls-label mb-3"><b>Выберите роль</b></div>
                    <div class="dual-controls-box">
                        <select class="dual-controls-select" name="roles[]" multiple>
                            <option value="role-1">Роль 1</option>
                            <option value="role-2">Роль 2</option>
                            <option selected value="role-3">Роль 3</option>
                            <option selected value="role-4">Роль 4</option>
                            <option selected value="role-5">Роль 5</option>
                            <option value="role-6">Роль 6</option>
                            <option value="role-7">Роль 7</option>
                            <option value="role-8">Роль 8</option>
                            <option value="role-9">Роль 9</option>
                            <option value="role-10">Роль 10</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="form-label col-3 col-form-label">Основная роль</label>
                    <div class="col">
                        <select class="form-select" name="main-role">
                            <option value="main-role-0" disabled selected>Выберите основную роль</option>
                            <option value="main-role-1">Основная роль 1</option>
                            <option value="main-role-2">Основная роль 2</option>
                            <option value="main-role-3">Основная роль 3</option>
                            <option value="main-role-4">Основная роль 4</option>
                            <option value="main-role-5">Основная роль 5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить изменения</button>
            </div>
        </form>
    </div>
</div>
