<div id="managingRolesModal" class="modal modal-blur fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <form class="dual-controls-form modal-content" action="#" name="departments-control">
            <div class="modal-header">
                <h5 class="modal-title">Управление ролями</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dual-controls-wrap mb-4">
                    <div class="dual-controls-label mb-3"><b>Выберите роль</b></div>
                    <div class="dual-controls-box">
                        <select name="roles[]" class="dual-controls-select" required>
                            <option disabled>Выберите роль</option>
                            {% if roles|default(false) %}
                                {% for rol in roles %}
                                    <option {% if data.roles|default(false) and (rol.roles_alt in data.roles) %}selected{% endif %} value="{{ rol.roles_alt }}">{{ rol.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="form-label col-3 col-form-label">Основная роль</label>
                    <div class="col">
                        <select class="form-select" name="main-role">
                            <option value="main-role-0" disabled selected>Выберите основную роль</option>
                            <option value="main-role-1">Основная роль 1</option>
                            <option value="main-role-2">Основная роль 2</option>
                            <option value="main-role-3">Основная роль 3</option>
                            <option value="main-role-4">Основная роль 4</option>
                            <option value="main-role-5">Основная роль 5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить изменения</button>
            </div>
        </form>
    </div>
</div>
