{% extends 'base.html.twig' %}

{% block title %}СПРУТ 1.0{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ include('block/header.html.twig') }}

    <div class="page page-layout">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    {% include 'administrator/block/nav_directory.html.twig' with {'controller': 'kafedra'} %}
                </div>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                {% include 'block/header_list.html.twig' with {'header': 'Справочник - направления', 'onpage_link': path('administrator_kafedra')} %}
            </div>
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row row-deck row-cards">
                        <div class="col-12">
                            <div class="card">




                                {% if app.user.roles|default(false) and ("ROLE_TEST" in  app.user.roles) %}
                                    {% include 'block/search_panel.html.twig' with {'controller': 'kafedra', 'close_delete': true, 'close_edit': true, 'close_create': true} %}
                                {% else %}
                                    {% include 'block/search_panel.html.twig' with {'controller': 'kafedra'} %}
                                {% endif %}

                                <div class="ajax-table">
                                    {{ include('administrator/directory/kafedra_table.html.twig') }}
                                </div>

                            </div>

                            <div id="userEditingOverlay" class="offcanvas-backdrop fade"></div>

                            <div id="kafedraCreationPanel" data-action="add" class="user-form-panel offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                                {% include 'administrator/directory/form/kafedra_add.html.twig'  %}
                            </div>
                            <div id="kafedraEditingPanel" data-action="edit" class="user-form-panel offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                                <img src="{{ absolute_url('/assets/images/loading--big.gif') }}" style="position: absolute; top: 10%; left: 50%; margin-left: -75px;">
                            </div>

                            {% include 'modal/delete.html.twig' with {'controller': 'kafedra'} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
