{% extends 'base.html.twig' %}

{% block title %}СПРУТ 1.0{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ include('block/header.html.twig') }}


    <div class="page page-layout">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    {% include 'administrator/block/nav_directory.html.twig' with {'controller': 'tc'} %}
                </div>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                {% include 'block/header_list.html.twig' with {'header': 'Справочник - учебные центры', 'onpage_link': path('administrator_directory_tc')} %}
            </div>
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row row-deck row-cards">
                        <div class="col-12">

                            <div class="card">
                                {% include 'block/search_panel.html.twig' with {
                                    'controller': 'training_centre',
                                    'close_delete': true,
                                    'add_csv': path('administrator_directory_tc') ~ '_csv' ~ csv_link
                                } %}

                                <div class="ajax-table">
                                    {{ include('administrator/directory/training_centre_table.html.twig') }}
                                </div>

                            </div>

                            <div id="userEditingOverlay" class="offcanvas-backdrop fade"></div>

                            <div id="training_centreCreationPanel" data-action="add" class="user-form-panel offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                                {% include 'administrator/directory/form/training_centre_add.html.twig'  %}
                            </div>
                            <div id="training_centreEditingPanel" data-action="edit" class="user-form-panel offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                                <img src="{{ absolute_url('/assets/images/loading--big.gif') }}" style="position: absolute; top: 10%; left: 50%; margin-left: -75px;">
                            </div>

                            {% include 'modal/delete.html.twig' with {'controller': 'training_centre'} %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
