{% extends 'base.html.twig' %}

{% block title %}СПРУТ 1.0{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ include('block/header.html.twig') }}

    <div class="page page-layout">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    {% include 'administrator/block/nav_user.html.twig' with {'controller': 'role'} %}
                </div>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-xl">
                {% include 'administrator/block/header_list.html.twig' with {'header': 'Роли', 'onpage_link': path('administrator_role')} %}
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">
                        <div class="col-12">

                            <div class="card">

                                {% include 'administrator/user/block/search_panel.html.twig' with {
                                    'close_delete': true,
                                    'controller': 'role'
                                } %}

                                <div class="ajax-table">
                                    {% include 'administrator/role/role_table.html.twig' %}
                                </div>
                            </div>

                            <div id="userEditingOverlay" class="offcanvas-backdrop fade"></div>

                            <div id="roleCreationPanel" data-action="add" class="user-form-panel offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                                {% include 'administrator/role/form/create_form.html.twig' %}
                            </div>

                            <div id="roleEditingPanel" data-action="edit" class="user-form-panel offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                                <img src="{{ absolute_url('/assets/images/loading--big.gif') }}" style="position: absolute; top: 10%; left: 50%; margin-left: -75px;">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
