<div class="users-table-wrap table-responsive">
    <table id="usersTable"
           class="users-table table card-table table-vcenter text-nowrap datatable">
        <thead>
        <tr>
            <th></th>
            <th>Идентификатор</th>
            <th>Название</th>
            <th>Комментарий</th>
        </tr>
        </thead>
        <tbody>
        {% if role_list|default(false) %}
            {% for ul in role_list %}
                    <tr data-string="{{ ul.id }}" data-type="role" class="user-table-row {% if loop.first %}is-selected{% endif %}">
                    <td><span class="badge bg-success"></span></td>
                    <td>
                        {{ ul.roles_alt|default(false) }}
                    </td>
                    <td>
                        {{ ul.name|default(false) }}
                    </td>
                    <td>
                        {{ ul.comment|default(false) }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

{% include 'block/paginator.html.twig' with {
    'path': path('administrator_role')
}  %}
