<div class="offcanvas-header">
    <h2 class="offcanvas-title">Создание роли</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form action="#" name="role-create" id="role_add-create" class="form-create">


        <div class="">
            <ul class="nav nav-tabs" data-bs-toggle="tabs">
                <li class="nav-item">
                    <a href="#tabs-ex1" class="nav-link active" data-bs-toggle="tab">Основное</a>
                </li>
                <li class="nav-item">
                    <a href="#tabs-ex2" class="nav-link" data-bs-toggle="tab">Права</a>
                </li>
            </ul>
            <div class="card-body">
                <div class="tab-content">

                    <div class="tab-pane active show" id="tabs-ex1">
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Название</label>
                            <div class="col">
                                <input type="text" class="form-control" name="name" placeholder="название для роли"
                                       required>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Идентификатор</label>
                            <div class="col">
                                <input type="text" class="form-control" name="roles_alt" placeholder="ROLE_XXXXXXXXX"
                                       required>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Комментарий</label>
                            <div class="col">
                                <textarea name="comment" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane hierarchy__container" id="tabs-ex2">
                        <ul class="hierarchy__group-list">
                            <li class="hierarchy__group-item" data-scope-for="desktop">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="desktop" value="desktop"
                                           class="form-check-input js-checkbox-scope parent-checkbox-scope"
                                           data-selected-by="workflow">Рабочий стол
                                </label>
                            </li>
                            <li class="hierarchy__group-item" data-scope-for="desktop">
                                <label class="hierarchy__scope hierarchy__scope--parent">
                                    <input type="checkbox" name="program[view]" value="1"
                                           class="form-check-input js-checkbox-scope parent-checkbox-scope"
                                           data-selected-by="workflow">Курсы
                                </label>
                                <ul class="hierarchy__child-scopes">
                                    <li class="js-check-scope-container" data-scope-for="repo:status">
                                        <label class="hierarchy__scope">
                                            <input type="checkbox" name="program[add]" value="1"
                                                   class="form-check-input js-checkbox-scope"/> создание
                                        </label>
                                    </li>
                                    <li class="js-check-scope-container" data-scope-for="repo:status">
                                        <label class="hierarchy__scope">
                                            <input type="checkbox" name="program[edit]" value="1"
                                                   class="form-check-input js-checkbox-scope"/> редактирование
                                        </label>
                                    </li>
                                    <li class="js-check-scope-container" data-scope-for="repo:status">
                                        <label class="hierarchy__scope">
                                            <input type="checkbox" name="program[delete]" value="1"
                                                   class="form-check-input js-checkbox-scope"/> удаление
                                        </label>
                                    </li>
                                </ul>
                            </li>


                            <li class="hierarchy__group-item" data-scope-for="repo">
                                <label class="hierarchy__scope hierarchy__scope--parent">
                                    <input type="checkbox" name="admin[view]" value="1"
                                           class="form-check-input js-checkbox-scope parent-checkbox-scope"
                                           data-selected-by="workflow"> Панель управления
                                </label>
                                <ul class="hierarchy__child-scopes">
                                    <li class="js-check-scope-container" data-scope-for="repo:status">
                                        <label class="hierarchy__scope">
                                            <input type="checkbox" name="user[view]" value="1"
                                                   class="form-check-input js-checkbox-scope"/> Пользователи
                                        </label>
                                        <ul class="hierarchy__child-scopes">
                                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                                <label class="hierarchy__scope">
                                                    <input type="checkbox" name="user_list[view]" value="repo:status" class="form-check-input js-checkbox-scope"/>
                                                    Пользователи
                                                </label>
                                                <ul class="hierarchy__child-scopes">
                                                    <li class="js-check-scope-container" data-scope-for="repo:status">
                                                        <label class="hierarchy__scope">
                                                            <input type="checkbox" name="user_list[add]" value="1"
                                                                   class="form-check-input js-checkbox-scope"/> создание
                                                        </label>
                                                    </li>
                                                    <li class="js-check-scope-container" data-scope-for="repo:status">
                                                        <label class="hierarchy__scope">
                                                            <input type="checkbox" name="user_list[edit]" value="1"
                                                                   class="form-check-input js-checkbox-scope"/> редактирование
                                                        </label>
                                                    </li>
                                                    <li class="js-check-scope-container" data-scope-for="repo:status">
                                                        <label class="hierarchy__scope">
                                                            <input type="checkbox" name="user_list[delete]" value="1"
                                                                   class="form-check-input js-checkbox-scope"/> удаление
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="js-check-scope-container" data-scope-for="repo_deployment">
                                                <label class="hierarchy__scope">
                                                    <input type="checkbox" name="role[view]" value="repo_deployment" class="form-check-input js-checkbox-scope" data-selected-by>
                                                    Роли
                                                </label>
                                                <ul class="hierarchy__child-scopes">
                                                    <li class="js-check-scope-container" data-scope-for="repo:status">
                                                        <label class="hierarchy__scope">
                                                            <input type="checkbox" name="role[add]" value="1"
                                                                   class="form-check-input js-checkbox-scope"/> создание
                                                        </label>
                                                    </li>
                                                    <li class="js-check-scope-container" data-scope-for="repo:status">
                                                        <label class="hierarchy__scope">
                                                            <input type="checkbox" name="role[edit]" value="1"
                                                                   class="form-check-input js-checkbox-scope"/> редактирование
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="js-check-scope-container" data-scope-for="repo_deployment">
                                                <label class="hierarchy__scope">
                                                    <input type="checkbox" name="operations[view]" value="repo_deployment" class="form-check-input js-checkbox-scope">
                                                    Операции
                                                </label>

                                                <ul class="hierarchy__child-scopes">
                                                    <li class="js-check-scope-container" data-scope-for="repo:status">
                                                        <label class="hierarchy__scope">
                                                            <input type="checkbox" name="operations[edit]" value="1"
                                                                   class="form-check-input js-checkbox-scope"/> создание
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="js-check-scope-container" data-scope-for="repo_deployment">
                                        <label class="hierarchy__scope">
                                            <input type="checkbox" name="directory[view]" value="1" class="form-check-input js-checkbox-scope" data-selected-by>
                                            Справочники
                                        </label>
                                    </li>
                                    <li class="js-check-scope-container" data-scope-for="repo_deployment">
                                        <label class="hierarchy__scope">
                                            <input type="checkbox" name="log[view]" value="repo_deployment" class="form-check-input js-checkbox-scope">
                                            Журнал
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mb-4">
            <button data-form-id="role_add-create" data-action="send-form" type="submit"
                    class="btn btn-primary ms-auto"
                    aria-label="Close"
            >Сохранить
            </button>
        </div>
    </form>
</div>

{#
Рабочий стол
Курсы
Панель управления
    пользователи
        пользователи
            создание
            удаление
            редактирование
        роли
            создание
            редактирование
        операции
            редактирование
    справочники
        ФГОС
        Профессиональные стандарты
        Учебные центры
            создание
            редактирование
        кафедры
            создание
            удаление
            редактирование
    журнал событий
#}
</form>
</div>
