<ul class="hierarchy__group-list">
    <li class="hierarchy__group-item" data-scope-for="desktop">
        <label class="hierarchy__scope">
            <input type="checkbox" name="desktop" value="desktop"
                   class="form-check-input js-checkbox-scope parent-checkbox-scope"
                   data-selected-by="workflow">Рабочий стол
        </label>
    </li>
    <li class="hierarchy__group-item" data-scope-for="desktop">
        <label class="hierarchy__scope hierarchy__scope--parent">
            <input type="checkbox" name="program[view]" value="1"
                   class="form-check-input js-checkbox-scope parent-checkbox-scope"
                   data-selected-by="workflow">Курсы
        </label>
        <ul class="hierarchy__child-scopes">
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="program[add]" value="1"
                           class="form-check-input js-checkbox-scope"/> создание
                </label>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="program[edit]" value="1"
                           class="form-check-input js-checkbox-scope"/> редактирование
                </label>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="program[delete]" value="1"
                           class="form-check-input js-checkbox-scope"/> удаление
                </label>
            </li>
        </ul>
    </li>


    <li class="hierarchy__group-item" data-scope-for="repo">
        <label class="hierarchy__scope hierarchy__scope--parent">
            <input type="checkbox" name="role_list[admin][view]" value="1"
                   class="form-check-input js-checkbox-scope parent-checkbox-scope"
                   data-selected-by="workflow"> Панель управления
        </label>
        <ul class="hierarchy__child-scopes">
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope hierarchy__scope--parent">
                    <input type="checkbox" name="role_list[user][view]" value="1"
                           class="form-check-input js-checkbox-scope"/> Пользователи
                </label>
                <ul class="hierarchy__child-scopes">
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope hierarchy__scope--parent">
                            <input type="checkbox" name="role_list[user_list][view]"
                                   value="repo:status"
                                   class="form-check-input js-checkbox-scope"/>
                            Пользователи
                        </label>
                        <ul class="hierarchy__child-scopes">
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role_list[user_list][add]"
                                           value="1"
                                           class="form-check-input js-checkbox-scope"/> создание
                                </label>
                            </li>
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role_list[user_list][edit]"
                                           value="1"
                                           class="form-check-input js-checkbox-scope"/>
                                    редактирование
                                </label>
                            </li>
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role_list[user_list][delete]"
                                           value="1"
                                           class="form-check-input js-checkbox-scope"/> удаление
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo_deployment">
                        <label class="hierarchy__scope hierarchy__scope--parent">
                            <input type="checkbox" name="role_list[role][view]"
                                   value="repo_deployment"
                                   class="form-check-input js-checkbox-scope" data-selected-by>
                            Роли
                        </label>
                        <ul class="hierarchy__child-scopes">
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role_list[role][add]" value="1"
                                           class="form-check-input js-checkbox-scope"/> создание
                                </label>
                            </li>
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role_list[role][edit]"
                                           value="1"
                                           class="form-check-input js-checkbox-scope"/>
                                    редактирование
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo_deployment">
                        <label class="hierarchy__scope hierarchy__scope--parent">
                            <input type="checkbox" name="role_list[operations][view]"
                                   value="repo_deployment"
                                   class="form-check-input js-checkbox-scope">
                            Операции
                        </label>

                        <ul class="hierarchy__child-scopes">
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role_list[operations][edit]"
                                           value="1"
                                           class="form-check-input js-checkbox-scope"/> создание
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo_deployment">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role_list[directory][view]" value="1"
                           class="form-check-input js-checkbox-scope" data-selected-by>
                    Справочники
                </label>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo_deployment">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role_list[log][view]" value="repo_deployment"
                           class="form-check-input js-checkbox-scope">
                    Журнал
                </label>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo_deployment">
                <label class="hierarchy__scope hierarchy__scope--parent">
                    <input type="checkbox" name="api" value="1"
                           class="form-check-input js-checkbox-scope parent-checkbox-scope"
                           data-selected-by="workflow"> API
                </label>
                <ul class="hierarchy__child-scopes">
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope">
                            <input type="checkbox" name="api[view]" value="1" class="form-check-input js-checkbox-scope"/>
                            чтение
                        </label>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope">
                            <input type="checkbox" name="api[add]" value="1" class="form-check-input js-checkbox-scope"/>
                            запись
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
