<div class="offcanvas-header">
    <h2 class="offcanvas-title">Редактирование роли</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">

    <form action="#" name="role-update" id="role_update-create" class="form-update">

        <input type="hidden" name="id" value="{{ data.id|default(false) }}">

        <div class="">
            <ul class="nav nav-tabs" data-bs-toggle="tabs">
                <li class="nav-item">
                    <a href="#tabs-ex3" class="nav-link active" data-bs-toggle="tab">Основное</a>
                </li>
                <li class="nav-item">
                    <a href="#tabs-ex4" class="nav-link" data-bs-toggle="tab">Права</a>
                </li>
            </ul>
            <div class="card-body">
                <div class="tab-content">

                    <div class="tab-pane active show" id="tabs-ex3">
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Название</label>
                            <div class="col">
                                <input type="text" class="form-control" name="name" placeholder="название для роли"
                                       value="{{ data.name|default(false) }}" required>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Идентификатор</label>
                            <div class="col">
                                <input type="text" class="form-control" name="roles_alt" placeholder="ROLE_XXXXXXXXX"
                                       value="{{ data.roles_alt|default(false) }}" required>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Комментарий</label>
                            <div class="col">
                                <textarea name="comment" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane hierarchy__container" id="tabs-ex4">
                        {% include 'administrator/role/form/role_list.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mb-4">
            <button data-form-id="role_update-create" data-action="send-form" type="submit"
                    class="btn btn-primary ms-auto"
                    aria-label="Close"
            >Сохранить
            </button>
        </div>
    </form>
</div>
