<div class="offcanvas-header">
    <h2 class="offcanvas-title">Редактирование программы</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form action="#" name="program-update" id="update_program-update" class="form-update">

        <input type="hidden" name="id" value="{{ data.id|default(false) }}">

        <div class="card">

            <ul class="nav nav-tabs" data-bs-toggle="tabs">
                <li class="nav-item">
                    <a href="#tabs-home-ex10" class="nav-link active"
                       data-bs-toggle="tab">Основное</a>
                </li>
                <li class="nav-item">
                    <a href="#tabs-home-ex11" class="nav-link" data-bs-toggle="tab">ФГОС</a>
                </li>
            </ul>

            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tabs-home-ex10">
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Название*</label>
                            <div class="col">
                                <input type="text" class="form-control" name="name"
                                       value="{{ data.name|default(false) }}" placeholder="Название программы" required>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Тип программы</label>
                            <div class="col">
                                <select class="form-select" name="type" required>
                                    <option value="">Выберите из списка</option>
                                    <option value="1"
                                            {% if data.program_type.id|default(false) and data.program_type.id == '1' %}selected{% endif %}>
                                        Повышение квалификации (ПК)
                                    </option>
                                    <option value="2"
                                            {% if data.program_type.id|default(false) and data.program_type.id == '2' %}selected{% endif %}>
                                        Профессиональная переподготовка (ПП)
                                    </option>
                                    <option value="3"
                                            {% if data.program_type.id|default(false) and data.program_type.id == '3' %}selected{% endif %}>
                                        Профессиональное обучение (ПО)
                                    </option>
                                    <option value="4"
                                            {% if data.program_type.id|default(false) and data.program_type.id == '4' %}selected{% endif %}>
                                        Дополнительное образование (ДО)
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fgos-tab fgos-tab--edit" id="tabs-home-ex11">

                        <div class="mb-3">
                            <div class="form-label fgos-label">Выберите тип образования</div>
                            <select class="form-select fgos-type-select">
                                <option value="1">Выберите из списка</option>
                                <option value="2">Среднее</option>
                                <option value="3">Высшее</option>
                            </select>
                        </div>

                        <div class="mb-3 fgos-education">
                            <label class="form-label">Выберите образование</label>
                            <div class="input-icon mb-3">
                                {% if fgos|default(false) and data.federal_standart[0]['id']|default(false) %}
                                      {% for fg in fgos %}
                                          {% if data.federal_standart[0]['id'] == fg.id %}
                                          <input type="hidden" class="fgos-hidden" name="fgos" value="{{ fg.id }}">
                                          <input type="text" value="" class="form-control fgos-filter" value="{{ fg.name }}" placeholder="Выберите образование">
                                          {% endif %}
                                     {% endfor %}
                                 {% else %}
                                     <input type="hidden" class="fgos-hidden" name="fgos">
                                     <input type="text" value="" class="form-control fgos-filter" placeholder="Выберите образование">
                                {% endif %}
                                <span class="input-icon-addon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                                         width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                         stroke="currentColor"
                                         fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="10" cy="10" r="7"></circle>
                                <line x1="21" y1="21" x2="15" y2="15"></line>
                            </svg>
                            </span>
                            </div>
                            <ul class="fgos-education__list"></ul>
                        </div>

                    </div>


                    <div class="d-flex mb-4">
                        <button data-form-id="update_program-create" data-action="send-form" type="submit"
                                class="btn btn-primary ms-auto"
                                aria-label="Close"
                        >Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
