body.user-editing-panel-opened {
	overflow: hidden;
	padding-right: 6px;
}

.users-table-wrap {
	max-height: calc(100vh - 330px);
	position: relative;
}

.user-table-row {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.user-table-row.is-selected {
	background-color: rgba(32, 107, 196, 0.25);
}

.user-photo-col {
	width: 156px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 156px;
	flex: 0 0 156px;
}

.user-photo-box {
	width: 100%;
	height: 140px;
	position: relative;
	border: 1px solid #d9dbde;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}

.user-photo-input {
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 10;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.user-photo-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.t-draggable {
	cursor: move;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.t-placeholder {
	background-color: #edf2f7;
	border: 2px dashed #cbd5e0;
}

.t-clone-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0 !important;
	top: 0 !important;
}

.t-clone-table {
	border-collapse: collapse;
	border: none;
}

.t-clone-table th,
.t-clone-table td {
	border-left: none;
	border-top: none;
	padding: 0.5rem;
}

.t-dragging {
	background: #fff;
	z-index: 999;
}

.user-form-panel {
	width: 550px;
}

.user-form-panel .offcanvas-body {
	overflow-x: hidden;
}

.user-form-panel .form-label {
	width: 130px;
}

#userEditingPanel.show {
	visibility: visible !important;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

#userEditingOverlay {
	visibility: hidden;
}

#userEditingOverlay.show {
	visibility: visible !important;
}