body.user-editing-panel-opened {
	overflow: hidden;
	padding-right: 6px;
}

.users-option-panel .is-left-col {
	max-width: 650px;
}

.users-table-wrap {
	max-height: calc(100vh - 330px);
  min-height: 300px;
	position: relative;
}

.users-table .hidden-cell {
	display: none;
}

.users-table th {
	position: relative;
}

.users-table th .sort-icon {
	width: 12px;
	height: 11px;
  display: block;
	/*position: absolute;
	left: 8px;
	top: 50%;  */
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 30;
  margin-right: 3px;
}

.users-table th .sort-icon.is-both {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjkiPjxwYXRoIGQ9Im0wIDQgNC00IDQgNHptMCAxIDQgNCA0LTR6Ii8+PC9zdmc+);
}

.users-table th .sort-icon.is-desc {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im00IDcgNC00SDB6Ii8+PC9zdmc+);
}

.users-table th .sort-icon.is-asc {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik00IDIgMCA2aDh6Ii8+PC9zdmc+);
}

.user-table-row, .editable-table-row {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.user-table-row.is-selected, .editable-table-row.is-selected {
	background-color: rgba(32, 107, 196, 0.25);
}

.user-photo-col {
	width: 156px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 156px;
	flex: 0 0 156px;
}

.user-photo-box {
	width: 100%;
	height: 140px;
	position: relative;
	border: 1px solid #d9dbde;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}

.user-photo-input {
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 10;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.user-photo-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.t-draggable {
	/* cursor: move; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.t-placeholder {
	background-color: #edf2f7;
	border: 2px dashed #cbd5e0;
}

.t-clone-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0 !important;
	top: 0 !important;
}

.t-clone-list .hidden-cell {
	display: none;
}

.t-clone-list .sort-icon {
	display: none;
}

.t-clone-table {
	border-collapse: collapse;
	border: none;
}

.t-clone-table th,
.t-clone-table td {
	border-left: none;
	border-top: none;
	padding: 0.5rem;
}

.t-dragging {
	background: #fff;
	z-index: 999;
}

.user-form-panel {
	width: 550px;
	visibility: visible !important;
}

.user-form-panel .offcanvas-body {
	overflow-x: hidden;
}

.user-form-panel .form-label {
	width: 166px;
}

.user-form-panel .dual-listbox__search {
	display: block !important;
	height: 30px;
	margin-bottom: 10px;
}

.user-form-panel .dual-listbox__item {
	padding: 5px 10px;
}

.user-form-panel .dual-listbox__container > div:last-child .dual-listbox__search {
	opacity: 0;
	visibility: hidden;
}

.user-form-panel .dual-listbox__available,
.user-form-panel .dual-listbox__selected {
	width: auto;
	height: 222px !important;
}

.user-form-panel .dual-listbox__buttons {
	position: relative;
}

#userEditingPanel.show {
	visibility: visible !important;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

#userEditingOverlay {
	visibility: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

#userEditingOverlay.show {
	visibility: visible !important;
}

/* responsive */
@media (max-width: 767px) {
	.users-table-wrap {
		max-height: 260px;
	}

	.users-option-panel {
		padding-left: 15px;
		padding-right: 15px;
	}

	.users-option-panel .d-flex {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.users-option-panel .is-left-col {
		width: calc(100% - 44px);
	}

	.users-option-panel .is-left-col + .me-2 {
		margin-right: 0 !important;
	}

	.users-option-panel .is-right-col {
		width: 100%;
		margin-top: 8px;
	}

	.users-option-panel .btn-group .btn {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media (max-width: 639px) {
	.user-form-panel .form-group.flex-nowrap {
		-ms-flex-wrap: wrap !important;
		flex-wrap: wrap !important;
	}

	.user-form-panel .form-label {
		width: 100%;
	}

	.user-photo-col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.user-photo-box {
		width: 140px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.card-table tr td:first-child, .card-table tr th:first-child {
  padding-left: 1rem;
}

.id-name {
  margin-left: 15px;
}

/* добавочный класс .modal-large
модального окна,
которое больше остальных
на стр создать-программы */

.modal-large {
  width: calc(100% - 250px);
}

@media(max-width: 820px) {
  .modal-large {
      width: 90%;
  }
}

.modal-middle {
  width: 60%;
  max-width: 863px;
}

@media(max-width: 820px) {
  .modal-middle {
    width: 695px;
  }
}
