<div class="offcanvas-header">
    <h2 class="offcanvas-title">Обновление запроса</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form action="#" name="update_litera-update" id="update_litera-update" class="form-update" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <!--  -->
                </div>
            </div>
        </div>

        <div class="d-flex mb-4">
            <input type="hidden" name="id" value="{{ data.id }}">

            <button data-form-id="update_litera-update" data-action="send-form" type="submit"
                    class="btn btn-primary ms-auto"
                    aria-label="Close">Сохранить
            </button>
        </div>
    </form>
</div>
