{% extends 'base.html.twig' %}

{% block title %}СПРУТ 1.0{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ include('block/header.html.twig') }}

    <div class="page page-layout">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    {% include 'administrator/block/nav_user.html.twig' with {'controller': 'user'} %}
                </div>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                {% include 'block/header_list.html.twig' with {'header': 'Пользователи', 'onpage_link': path('administrator_user')} %}
            </div>
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row row-deck row-cards">
                        <div class="col-12">
                            <div class="card">
                                {% include 'block/search_panel.html.twig' with {'controller': 'user'} %}

                                <div class="ajax-table">
                                    {{ include('administrator/user/user_table.html.twig') }}
                                </div>

                            </div>

                            <div id="userEditingOverlay" class="offcanvas-backdrop fade"></div>

                            <div id="userEditingPanel" class="user-form-panel offcanvas offcanvas-end" tabindex="-1"
                                 aria-labelledby="offcanvasEndLabel">
                                <div class="offcanvas-header">
                                    <h2 class="offcanvas-title">Редактирование пользователя</h2>
                                    <button id="jsEditingPanelCloser" type="button" class="btn-close text-reset"
                                            data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                </div>
                            </div>

                            <div id="userCreationPanel" data-action="add"  class="user-form-panel offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                            {% include 'administrator/user/form/create_form.html.twig' %}
                            </div>

                            <div id="userEditingPanel" data-action="edit" class="user-form-panel offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                                <img src="{{ absolute_url('/assets/images/loading--big.gif') }}" style="position: absolute; top: 10%; left: 50%; margin-left: -75px;">
                            </div>

                            {% include 'modal/delete.html.twig' %}
                            {% include 'administrator/user/modal/departament.html.twig' %}
                            {% include 'administrator/user/modal/role.html.twig' %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
