<div class="offcanvas-header">
    <h2 class="offcanvas-title">Редактирование продутового направления</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form action="#" name="product_line-update" id="product_line_update-form" class="form-update">

        <input type="hidden" name="id" value="{{ data.id|default(false) }}">

        <div class="card-body">
            <div class="form-group mb-3 row">
                <label class="form-label col-3 col-form-label">Название *</label>
                <div class="col">
                    <input name="name" type="text" class="form-control" placeholder="Название ФГОС"
                           required value="{{ data.name|default(false) }}">
                </div>
            </div>

            <div class="form-group mb-3 row">
                <label class="form-label col-3 col-form-label">Кластер</label>
                <div class="col">
                    <select name="cluster" class="form-control">
                        {% for cluster in clusters %}
                            <option value="{{ cluster.id }}" {% if cluster.id == data.cluster.id %}selected{% endif %}>{{ cluster.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex mb-4">
            <button data-form-id="product_line_update-form" data-action="send-form" type="submit"
                    class="btn btn-primary ms-auto"
                    aria-label="Close"
            >Сохранить
            </button>
        </div>
    </form>
</div>
