<div class="offcanvas-header">
    <h2 class="offcanvas-title">Создание направления</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form action="#" name="directions-create" id="directions_add-create" class="form-create">
        <div class="form-group mb-3 row">
            <label class="form-label col-3 col-form-label">Название направления</label>
            <div class="col">
                <input name="direction_name" type="text" class="form-control" placeholder="Название направления"
                       required>
            </div>
        </div>
        <div class="d-flex mb-4">
            <button data-form-id="directions_add-create" data-action="send-form" type="submit"
                    class="btn btn-primary ms-auto" aria-label="Close">
                Сохранить
            </button>
        </div>
    </form>
</div>
