// правки для перебивания таблера и основных стилей, мелкие изменения

.ajax-table--program {
  .users-table-wrap {
    max-height: calc(100vh - 530px);
    min-height: 275px;
  }
}

.header {
  /*position: relative;*/
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
  z-index: 1035;
  width: 100%;
  /*min-height: 50px !important;*/
}

.search__panel-search-btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.fgos-label {
  width: 100% !important;
}

.fgos-education {
  display: none;
}

.fgos-education--show {
  display: block;
}
