// правки для перебивания таблера и основных стилей, мелкие изменения

.ajax-table--program {
  .users-table-wrap {
    max-height: calc(100vh - 530px);
    min-height: 275px;
  }
}

.header {
  /*position: relative;*/
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
  z-index: 1035;
  width: 100%;
  /*min-height: 50px !important;*/
}

.search__panel-search-btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.fgos-label {
  width: 100% !important;
}

.fgos-education {
  display: none;
}

#columns-settings-btn svg {
  margin: 0;
}

.fgos-education__list {
  list-style: none !important;
  margin-left: 0 !important;
  padding-left: 0.75rem !important;
  border: 1px solid #d9dbde;
  border-top: none;
  padding-bottom: 15px;
  padding-top: 10px;
  position: relative;
  top: -20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  .fgos-education__item {
    &:hover {
      background-color: rgba(32, 107, 196, 0.25);
      cursor: pointer;
    }
  }
}

.fgos-education--show {
  display: block;
}

.delete_string {
  color: #206bc4;
  outline: none;
  border: none;
  background-color: transparent;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.delete_string:disabled {
  opacity: 0.2;
}

// Боковая скрываемая панель с иконками

.aside-panel {
  .nav-link {
    display: flex;
    align-items: start;
  }

  .nav-link .icon {
    margin-right: 15px;
  }

  .nav-link--hidden {
    display: none;
    text-align: center;
  }
}

.aside--hidden {
  width: auto !important;

   .navbar-nav .nav-link {
    padding: 0.5rem !important;
    justify-content: center !important;
  }
}

.page-wrapper--full {
  transition: 0.3s;
  margin-left: 6rem !important;
}

.hide-btn {
  margin-bottom: 20px;
  width: 100%;
  outline: none;
  padding: 10px;
  font-size: .875rem;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(230, 231, 233);
  background-color: transparent;

  &:hover {
    background-color: rgb(250, 251, 252);
  }

  .icon {
    margin: 0;
  }
}

.hide-btn--hidden {;
  transform: rotate(180deg);
}

.interval-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .input-wrap {
    flex-basis: 45%;
    display: flex;
  }

  .form-control {
    padding: 0.4375rem 0.75rem !important;
  }
}


#drag-interface {
  list-style: none;
  margin: 0;
}

#drag-interface li {
  display: flex;
  align-items: center;
  list-style-image: none;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
  color: #666;

  &:hover {
    background-color: rgba(98, 105, 118, .04);
  }

  .drag-label {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    min-width: 11rem;
    margin: 0;
    line-height: 1.4285714286;
  }

  .drag-interface-icon {
    display: flex;
    width: 16px;
    height: 16px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 10px;
    background-image: url("../img/drag.png");
    cursor: url('../img/dragS.svg') 6 6, move;

    &:hover, &:active {
      cursor: url('../img/dragS.svg') 6 6, move;
    }
  }
}

// корпоративные цвета
.color-add-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.custom-color-row {
  display: flex;
}

.custom-colors-wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#add_custom_color, #update_custom_color {
  display: block;
}

.delete-color-btn {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 20px;
}
