/*!
 * Created AptPr <prudishew@yandex.ru> 2022.
 */

.columns {
  //outline: 2px dotted green;
  margin-top: 150px;
  //margin-top: 50%;
  //transform: translateY(-50%);

  @media(max-width: 1025px) {
    margin-top: 100px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;

    @media(max-width: 1025px) {
      flex-direction: column;
    }

  }

  &__link {
    color: rgba(30,41,59,.7);
    transition: color .3s;

    &:hover {
      color: rgba(30,41,59,1);
      text-decoration: none;
    }
  }

  &__item {
    display: flex;
    flex-basis: 23%;
    outline: 2px solid rgba(30,41,59,.5);
    align-items: center;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 130px 10px;

    @media(max-width: 1025px) {
      padding: 80px 10px;
      margin-bottom: 30px;
    }
  }
}
