<div class="offcanvas-header">
    <h2 class="offcanvas-title">Создание учебного центра</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form action="#" name="training_centre-create" id="training_centre_add-create" class="form-create">
        <style>
            textarea.form-control {
                height: 72px;
            }
        </style>
        <div class="card">

            <ul class="nav nav-tabs" data-bs-toggle="tabs">
                <li class="nav-item">
                    <a href="#uc_create_tab1" class="nav-link control-tab active" data-bs-toggle="tab">Основное</a>
                </li>
                <li class="nav-item">
                    <a href="#uc_create_tab3" class="nav-link control-tab" data-bs-toggle="tab">Настройки</a>
                </li>
                <li class="nav-item">
                    <a href="#uc_create_tab2" class="nav-link control-tab" data-bs-toggle="tab">Реквизиты</a>
                </li>
                <li class="nav-item">
                    <a href="#uc_create_tab7" class="nav-link control-tab" data-bs-toggle="tab">Корпоративные цвета</a>
                </li>
            </ul>

        </div>

        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active show" id="uc_create_tab1">
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">Название *</label>
                        <div class="col">
                            <input name="name" type="text" class="form-control" placeholder="Название УЦ" required>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">Телефон</label>
                        <div class="col">
                            <input name="phone" type="text" class="form-control" placeholder="телефон">
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">E-mail</label>
                        <div class="col">
                            <input name="email" type="text" class="form-control" placeholder="email">
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">URL</label>
                        <div class="col">
                            <input name="url" type="text" class="form-control" placeholder="email">
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="uc_create_tab3">
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">Идентификатор в бакалавр-магистр</label>
                        <div class="col">
                            <input name="external_upload_bakalavrmagistr_id" type="text" class="form-control"
                                   placeholder="id">
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">Идентификатор в сдо</label>
                        <div class="col">
                            <input name="external_upload_sdo_id" type="text" class="form-control" placeholder="id">
                        </div>
                    </div>
                </div>


                <div class="tab-pane row" id="uc_create_tab2">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group mb-3 row">
                                <div>Директор</div>
                                <div class="col">
                                    <input type="text" name="director" value="" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div>Позиция директора</div>
                                <div class="col">
                                    <input type="text" name="director_position" value="" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div>Дата изменения</div>
                                <div class="col">
                                    <input type="date" name="from_date" value="" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div>Город</div>
                                <div class="col">
                                    <input type="text" name="city" value="" class="form-control"/>
                                </div>
                            </div>

                        </div>

                        <div class="col-6">
                            <div class="form-group mb-3 row">
                                <div>Сокращенное название</div>
                                <div class="col">
                                    <input type="text" name="short_name" class="form-control" value=""/>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div>Полное название</div>
                                <div class="col">
                                    <textarea name="full_name" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div>Адрес</div>
                                <div class="col">
                                    <textarea name="address" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="uc_create_tab7">
                    <p>Выберите один или несколько цветов</p>
                    <div class="form-group mb-3 row color-add-wrapper">
                        <div class="col-auto">
                            <label class="form-colorinput">
                                <input name="corporate-color-add" type="checkbox" value="#1e293b"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-dark"></span>
                            </label>
                        </div>
                        <div class="col-auto">
                            <label class="form-colorinput form-colorinput-light">
                                <input name="corporate-color-add" type="checkbox" value="#fff"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-white"></span>
                            </label>
                        </div>
                        <div class="col-auto">
                            <label class="form-colorinput">
                                <input name="corporate-color-add" type="checkbox" value="#206bc4"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-blue"></span>
                            </label>
                        </div>
                        <div class="col-auto">
                            <label class="form-colorinput">
                                <input name="corporate-color-add" type="checkbox" value="#4299e1"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-azure"></span>
                            </label>
                        </div>
                        <div class="col-auto">
                            <label class="form-colorinput">
                                <input name="corporate-color-add" type="checkbox" value="#4263eb"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-indigo"></span>
                            </label>
                        </div>
                        <div class="col-auto">
                            <label class="form-colorinput">
                                <input name="corporate-color-add" type="checkbox" value="#ae3ec9"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-purple"></span>
                            </label>
                        </div>
                        <div class="col-auto">
                            <label class="form-colorinput">
                                <input name="corporate-color-add" type="checkbox" value="#d6336c"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-pink"></span>
                            </label>
                        </div>
                        <div class="col-auto">
                            <label class="form-colorinput">
                                <input name="corporate-color-add" type="checkbox" value="#d63939"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-red"></span>
                            </label>
                        </div>
                        <div class="col-auto">
                            <label class="form-colorinput">
                                <input name="corporate-color-add" type="checkbox" value="#f76707"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-orange"></span>
                            </label>
                        </div>
                        <div class="col-auto">
                            <label class="form-colorinput">
                                <input name="corporate-color-add" type="checkbox" value="#f59f00"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-yellow"></span>
                            </label>
                        </div>
                        <div class="col-auto">
                            <label class="form-colorinput">
                                <input name="corporate-color-add" type="checkbox" value="#74b816"
                                       class="form-colorinput-input"/>
                                <span class="form-colorinput-color bg-lime"></span>
                            </label>
                        </div>
                    </div>

                    <div class="d-flex mb-4 custom-colors-wrap">
                        <button name="add_string" type="button" class="btn btn-primary btn-green" id="add_custom_color">
                            Добавить свой цвет
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex mb-4">
            <button data-form-id="training_centre_add-create" data-action="send-form" type="submit"
                    class="btn btn-primary ms-auto"
                    aria-label="Close">Сохранить
            </button>
        </div>
    </form>
</div>
