<div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
        <div class="col d-flex align-items-center">
            <!-- Page pre-title -->
            <h2 class="page-title">
                {{ header|default(false) }}
            </h2>

            <div class="ms-auto d-flex align-items-center">
                <div>По</div>
                <select class="form-select ms-2" id="on_page_selector">
                    <option value="5" {% if pager.on_page|default(false) and pager.on_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if pager.on_page|default(false) and pager.on_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if pager.on_page|default(false) == false or pager.on_page|default(false) and pager.on_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if pager.on_page|default(false) and pager.on_page == 50 %}selected{% endif %}>50</option>
                    <option value="100" {% if pager.on_page|default(false) and pager.on_page == 100 %}selected{% endif %}>100</option>
                    <option value="999999" {% if pager.on_page|default(false) and pager.on_page == 999999 %}selected{% endif %}>Все</option>
                </select>
                {% if onpage_link|default(false) %}
                <script>
                        let onpage_url = "{{ onpage_link }}";
                        // /administrator/kafedra?on_page=5
                        const on_page_selector = document.querySelector('#on_page_selector');
                        if(on_page_selector) {
                            on_page_selector.addEventListener('change', function(){
                                let results_number = on_page_selector.value
                                window.location = `${onpage_url}?on_page=${results_number}`;
                            })
                        }
                        // /administrator/kafedra?on_page=5
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</div>
