Добрый день.<br /><br />
Для вас был создан аккаунт в системе СПРУТ. Данные для входа в личный кабинет:<br />
<a href="https://sprut.niidpo.ru/login">https://sprut.niidpo.ru/login</a><br />
логин: {{ email }}<br />
пароль: {{ password }}
