{% extends 'base.html.twig' %}

{% block title %}СПРУТ 1.0{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ include('block/header.html.twig') }}


<div class="page page-layout">
    <aside class="navbar navbar-vertical navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-header-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-header-menu">
                <ul class="navbar-nav pt-lg-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#" >
                       <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <circle cx="12" cy="7" r="4" />
                              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                            </svg>
                       </span>
                            <span class="nav-link-title">Роли</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >
                       <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <circle cx="12" cy="7" r="4" />
                              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                            </svg>
                       </span>
                            <span class="nav-link-title">Операции</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" >
                       <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <circle cx="12" cy="7" r="4" />
                              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                            </svg>
                       </span>
                            <span class="nav-link-title">Пользователи</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row g-2 align-items-center">
                    <div class="col d-flex align-items-center">
                        <!-- Page pre-title -->
                        <h2 class="page-title">
                            Пользователи
                        </h2>
                        <div class="ms-auto d-flex align-items-center">
                            <div>По</div>
                            <select class="form-select ms-2">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="all">Все</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="row row-deck row-cards">
                    <div class="col-12">

                        <div class="card">
                            <div class="users-option-panel card-body border-bottom py-3">
                                <div class="d-flex align-items-center mb-0">
                                    <form class="is-left-col input-group input-group-flat me-2" action="#" name="search">
                                        <input type="text" class="search-input form-control" placeholder="Поиск" autocomplete="off">
                                        <span class="input-group-text">
                                            <a id="jsClearSearch" href="#" class="link-secondary" title="Очистить Поиск" data-bs-toggle="tooltip">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                                            </a>
                                            <a href="#" class="link-secondary ms-2" title="Поиск" data-bs-toggle="tooltip">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                                            </a>
                                        </span>
                                    </form>
                                    <div class="me-2">
                                        <a href="#" class="btn w-100 btn-icon" title="Экспорт в Excel" data-bs-toggle="tooltip">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-table-export" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M11.5 20h-5.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v7.5m-16 -3.5h16m-10 -6v16m4 -1h7m-3 -3l3 3l-3 3" />
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="is-right-col ms-auto">
                                        <div class="btn-group w-100">
                                            <a class="btn" data-bs-toggle="offcanvas" href="#userCreationPanel" role="button" aria-controls="offcanvasEnd">Создать</a>
                                            <a class="btn" data-bs-toggle="offcanvas" href="#userEditingPanel" role="button" aria-controls="offcanvasEnd">Изменить</a>
                                            <a class="btn" data-bs-toggle="modal" data-bs-target="#userRemoveModal" href="#">Удалить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="users-table-wrap table-responsive">
                                <table id="usersTable" class="users-table table card-table table-vcenter text-nowrap datatable">
                                    <thead>
                                    <tr>
                                        <th><a class="sort-icon is-both" href="#"></a></th>
                                        <th><a class="sort-icon is-both" href="#"></a></th>
                                        <th>ФИО <a class="sort-icon is-both" href="#"></a></th>
                                        <th>Должность <a class="sort-icon is-desc" href="#"></a></th>
                                        <th>Подразделение <a class="sort-icon is-asc" href="#"></a></th>
                                        <th>Почта <a class="sort-icon is-both" href="#"></a></th>
                                        <th>Скайп <a class="sort-icon is-both" href="#"></a></th>
                                        <th>Телефон <a class="sort-icon is-both" href="#"></a></th>
                                        <th>Город <a class="sort-icon is-both" href="#"></a></th>
                                        <th class="hidden-cell"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="user-table-row is-selected">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#" checked>
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge badge bg-danger"></span>
                                        </td>
                                        <td>
                                            Битрикс
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#" checked>
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge badge bg-danger"></span>
                                        </td>
                                        <td>
                                            Битрикс
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#" checked>
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge badge bg-danger"></span>
                                        </td>
                                        <td>
                                            Битрикс
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#" checked>
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge badge bg-danger"></span>
                                        </td>
                                        <td>
                                            Битрикс
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#" checked>
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge badge bg-danger"></span>
                                        </td>
                                        <td>
                                            Битрикс
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    <tr class="user-table-row">
                                        <td>
                                            <span class="badge bg-success"></span>
                                        </td>
                                        <td>
                                            Локальный
                                        </td>
                                        <td>
                                            Иванов И.И.
                                        </td>
                                        <td>
                                            Программист
                                        </td>
                                        <td>
                                            Отдел разработки
                                        </td>
                                        <td>
                                            <a href="mailto:test@mail.ru">test@mail.ru</a>
                                        </td>
                                        <td>
                                            <a href="skype:example123?chat">example123</a>
                                        </td>
                                        <td>
                                            <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                                        </td>
                                        <td>
                                            Москва
                                        </td>
                                        <td class="hidden-cell">
                                            <input class="selected-checkbox" type="checkbox" name="#">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer d-flex align-items-center">
                                <p class="m-0 text-muted"><b>25</b> результатов</p>
                                <ul class="pagination m-0 ms-auto">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="userCreationPanel" class="user-form-panel offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                            <div class="offcanvas-header">
                                <h2 class="offcanvas-title">Создание пользователя</h2>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <form action="#" name="user-create">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group mb-3 row">
                                                <label class="form-label col-3 col-form-label">Фамилия</label>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="Фамилия">
                                                </div>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label class="form-label col-3 col-form-label">Имя</label>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="Имя">
                                                </div>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label class="form-label col-3 col-form-label">Отчество</label>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="Отчество">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col user-photo-col">
                                            <div class="user-photo-box">
                                                <input class="user-photo-input" name="user-photo" type="file" accept="image/png, image/jpg, image/jpeg, image/gif">
                                                <img class="user-photo-img" src="/assets/images/user.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row flex-nowrap align-items-center">
                                        <label for="cb-activity" class="form-label col-3 col-form-label">Активирован</label>
                                        <div class="form-check form-switch mb-0 ms-2">
                                            <input id="cb-activity" class="form-check-input" type="checkbox">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Должность</label>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Должность">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Подразделение</label>
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#managingDepartmentsModal">Изменить</button>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Роли</label>
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#managingRolesModal">Изменить</button>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">E-mail</label>
                                        <div class="col">
                                            <input type="email" class="form-control" placeholder="Адрес электронной почты">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Скайп</label>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Скайп">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Телефон</label>
                                        <div class="col">
                                            <input type="tel" class="form-control" placeholder="Телефон в формате +7 (xxx) xxx-xx-xx">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Город</label>
                                        <div class="col">
                                            <select class="form-select">
                                                <option disabled selected>Выберите город из списка</option>
                                                <option value="1">Москва</option>
                                                <option value="2">Санкт-Петербург</option>
                                                <option value="3">Ярославль</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-4">
                                        <button type="submit" class="btn btn-primary ms-auto">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="userEditingPanel" class="user-form-panel offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                            <div class="offcanvas-header">
                                <h2 class="offcanvas-title">Редактирование пользователя</h2>
                                <button id="jsEditingPanelCloser" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <form action="#" name="user-edit">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group mb-3 row">
                                                <label class="form-label col-3 col-form-label">Фамилия</label>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="Фамилия" value="Иванов">
                                                </div>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label class="form-label col-3 col-form-label">Имя</label>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="Имя" value="Иван">
                                                </div>
                                            </div>
                                            <div class="form-group mb-3 row">
                                                <label class="form-label col-3 col-form-label">Отчество</label>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="Отчество" value="Иванович">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col user-photo-col">
                                            <div class="user-photo-box">
                                                <input class="user-photo-input" name="user-photo" type="file" accept="image/png, image/jpg, image/jpeg, image/gif">
                                                <img class="user-photo-img" src="https://d38we5ntdyxyje.cloudfront.net/687389/profile/FWHYATCV_avatar_medium_square.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row flex-nowrap align-items-center">
                                        <label for="cb-activity2" class="form-label col-3 col-form-label">Активирован</label>
                                        <div class="form-check form-switch mb-0 ms-2">
                                            <input id="cb-activity2" class="form-check-input" type="checkbox" checked>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Должность</label>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Должность" value="Программист">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Подразделение</label>
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#managingDepartmentsModal">Изменить</button>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Роли</label>
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#managingRolesModal">Изменить</button>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">E-mail</label>
                                        <div class="col">
                                            <input type="email" class="form-control" placeholder="Адрес электронной почты" value="test@mail.ru">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Скайп</label>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Скайп" value="example123">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Телефон</label>
                                        <div class="col">
                                            <input type="tel" class="form-control" placeholder="Телефон в формате +7 (xxx) xxx-xx-xx" value="+7 (999) 999-99-99">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Город</label>
                                        <div class="col">
                                            <select class="form-select">
                                                <option disabled>Выберите город из списка</option>
                                                <option value="1" selected>Москва</option>
                                                <option value="2">Санкт-Петербург</option>
                                                <option value="3">Ярославль</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-4">
                                        <button type="submit" class="btn btn-primary ms-auto">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="userEditingOverlay" class="offcanvas-backdrop fade"></div>

                        <div id="userRemoveModal" class="modal modal-blur fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    <div class="modal-status bg-danger"></div>
                                    <div class="modal-body text-center py-4">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
                                        <h3>Вы уверены?</h3>
                                        <div class="text-muted">Вы действительно хотите удалить пользователя Иванов Иван Иванович?</div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="w-100">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="#" class="btn w-100" data-bs-dismiss="modal">Отмена</a>
                                                </div>
                                                <div class="col">
                                                    <a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">Удалить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="managingDepartmentsModal" class="modal modal-blur fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <form class="dual-controls-form modal-content" action="#" name="departments-control">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Управление подразделениями</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="dual-controls-wrap mb-4">
                                            <div class="dual-controls-label mb-3"><b>Выберите подразделение</b></div>
                                            <div class="dual-controls-box">
                                                <select class="dual-controls-select" name="departments[]" multiple>
                                                    <option value="dep-1">Подразделение 1</option>
                                                    <option value="dep-2">Подразделение 2</option>
                                                    <option value="dep-3">Подразделение 3</option>
                                                    <option value="dep-4">Подразделение 4</option>
                                                    <option value="dep-5">Подразделение 5</option>
                                                    <option value="dep-6">Подразделение 6</option>
                                                    <option value="dep-7">Подразделение 7</option>
                                                    <option value="dep-8">Подразделение 8</option>
                                                    <option value="dep-9">Подразделение 9</option>
                                                    <option value="dep-10">Подразделение 10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="form-label col-4 col-form-label">Основное подразделение</label>
                                            <div class="col">
                                                <select class="form-select" name="main-department">
                                                    <option value="main-dep-0" disabled selected>Выберите основное подразделение</option>
                                                    <option value="main-dep-1">Основное подразделение 1</option>
                                                    <option value="main-dep-2">Основное подразделение 2</option>
                                                    <option value="main-dep-3">Основное подразделение 3</option>
                                                    <option value="main-dep-4">Основное подразделение 4</option>
                                                    <option value="main-dep-5">Основное подразделение 5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Закрыть</button>
                                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="managingRolesModal" class="modal modal-blur fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <form class="dual-controls-form modal-content" action="#" name="departments-control">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Управление ролями</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="dual-controls-wrap mb-4">
                                            <div class="dual-controls-label mb-3"><b>Выберите роль</b></div>
                                            <div class="dual-controls-box">
                                                <select class="dual-controls-select" name="roles[]" multiple>
                                                    <option value="role-1">Роль 1</option>
                                                    <option value="role-2">Роль 2</option>
                                                    <option selected value="role-3">Роль 3</option>
                                                    <option selected value="role-4">Роль 4</option>
                                                    <option selected value="role-5">Роль 5</option>
                                                    <option value="role-6">Роль 6</option>
                                                    <option value="role-7">Роль 7</option>
                                                    <option value="role-8">Роль 8</option>
                                                    <option value="role-9">Роль 9</option>
                                                    <option value="role-10">Роль 10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="form-label col-3 col-form-label">Основная роль</label>
                                            <div class="col">
                                                <select class="form-select" name="main-role">
                                                    <option value="main-role-0" disabled selected>Выберите основную роль</option>
                                                    <option value="main-role-1">Основная роль 1</option>
                                                    <option value="main-role-2">Основная роль 2</option>
                                                    <option value="main-role-3">Основная роль 3</option>
                                                    <option value="main-role-4">Основная роль 4</option>
                                                    <option value="main-role-5">Основная роль 5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Закрыть</button>
                                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
